<%- include ('../templates/header.ejs') %>
<div class='sign-in mb-5'>
    <% if(typeof signinError !== 'undefined') { %>
        <p class='errors'><%= signinError %></p>
    <% } %>
        <div class="col-lg-4 mt-5">
            <div class="card bg-primary text-center card-form">
                <div class="card-body">
                    <h3>Sign In</h3>
                    <p>Please fill out this form to sign-in</p>
                    <form action="/signin_process" method="POST">
                        <div class="form-group">
                            <input type="email" name="email" class="form-control form-control-lg" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control form-control-lg" placeholder="Password">
                        </div><br>
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-outline-light btn-block">
                        </div><br>
                    </form>
                    <a href="/register">Don't have an account? Register Now!</a>
                </div>
            </div>
        </div>
    </div>
<%- include ('../templates/footer.ejs') %>